.m-button {
    padding: 0px 12px;
    margin: 0px 0px 0px 8px;
    height: 32px;
    min-width: 96px;
    font-weight: 600;   /* SemiBold */
    border-radius: 4px;
    cursor: pointer;
}

.m-btn-style1 {
    background-color: #03AE66;
    color: #FFFFFF;
    border: none;
}
.m-btn-style1:hover {
    background-color: #02BF70;
}
.m-btn-style1:disabled {
    background-color: #E0E0E0;
    color: #A6A6A6;
    cursor: not-allowed;
}

.m-btn-style2 {
    background-color: #FFFFFF;
    color: #3D3F4E;
    border: 1px solid #CECECE;
}
.m-btn-style2:hover {
    background-color: #EAECEF;
    color: #3D3F4E;
}
.m-btn-style2:disabled {
    background-color: #FFFFFF;
    color: #A6A6A6;
    cursor: not-allowed;
}

/* Button-Icon = style2 + style4 */
.m-btn-style4 {
    width: 32px;
    height: 32px;
    margin: 0px 0px 0px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-position: center;
    padding: 0px;
}
.m-btn-style4:hover {
    background-color: #F8F8F8;
}
.m-btn-style4:disabled {
    background-color: #CECECE/*#FFFFFF*/;   /*Cmt la theo SG mo ta, thuc te la theo hinh anh SG*/
    /* color: #A6A6A6; */
    cursor: not-allowed;
}

