.m-dropdown {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0px 0px 0px 8px;
    height: 32px;
    min-width: 96px;
    border: 1px solid #CECECE;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #3D3F4E;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* -ms-appearance: none; */
    /* appearance: none; */
}

.m-dropdown option {
    padding: 16px;
    font-size: 13px;
    border-radius: 15px;
    background-color: red;
}