.m-dropdown-container {
    position: relative;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    width: max-content;
}

.m-dropdown {
    min-width: 96px;
    height: 32px;
    border-radius: 4px;
    padding: 0px 48px 0px 12px;
    border: 1px solid #CCCCCC;
    margin: 0px 16px 0px 12px;
    outline: none;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    align-items: center;
}

/* .m-dropdown option {
    padding: 16px;
    font-size: 13px;
    border-radius: 15px;
    background-color: red;
} */

.m-dropdown .icon-down {
    position: absolute;
    right: 16px;
}