.m-icon {
    width: 28px;
    height: 28px;
    border: none;
    /* background-color: inherit; */
    cursor: pointer;
}

.icon-more {
    background-image: url(/assets/Icons/ic_More.png);
    background-repeat: no-repeat;
}

.icon-delete {
    background-image: url(/assets/Icons/ic_delete.png);
    background-repeat: no-repeat;
}

.icon-edit {
    border-radius: 50%;
    background-image: url(/assets/Icons/ic_edit_2.png);
    background-repeat: no-repeat;
}
.icon-edit:hover, .icon-edit:focus {
    background-color: #E9E9E9;
    background-image: url(/assets/Icons/ic_Edit.png);
}
.icon-remove {
    border-radius: 50%;
    background-image: url(/assets/Icons/ic_Remove.png);
    background-repeat: no-repeat;
}
.icon-remove:hover, .icon-remove:focus {
    background-color: #E9E9E9;
    background-image: url(/assets/Icons/ic_Remove_Hover.png);
}
.m-icon:focus {
    background-color: #E9E9E9;
}

.icon-search {
    background-image: url(/assets/Icons/Ic_seerch.png);
    background-repeat: no-repeat;
}

.icon-chonanh {
    background-image: url(/assets/Icons/bg_chonanh.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-alert {
    background-image: url(/assets/Icons/ic_Alert.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-avatar {
    background-image: url(/assets/Icons/ic_Avatar_36.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-logo-thietbi {
    background-image: url(/assets/Icons/ic_IconThietBi.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-back {
    background-image: url(/assets/Icons/ic_Back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-next {
    background-image: url(/assets/Icons/ic_Next.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-movetofirst {
    background-image: url(/assets/Icons/ic_MoveToFirst.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-movetolast {
    background-image: url(/assets/Icons/ic_MoveToLast.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-check {
    background-image: url(/assets/Icons/ic_Check.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-dropdown {
    background-image: url(/assets/Icons/ic_Chevron.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-notification {
    background-image: url(/assets/Icons/ic_Notification_32.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-toast-fail {
    background-image: url(/assets/Icons/ic_ToastMessage_Fail.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-toast-info {
    background-image: url(/assets/Icons/ic_ToastMessage_Info.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-toast-success {
    background-image: url(/assets/Icons/ic_ToastMessage_Success.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-toast-warning {
    background-image: url(/assets/Icons/ic_ToastMessage_Warning.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-close {
    background-image: url(/assets/Icons/ic_X_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-x {
    background-image: url(/assets/Icons/ic_X.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-help {
    background-image: url(/assets/Icons/ic_Help.png);
    background-repeat: no-repeat;
    /* background-position: -929px -488px;
    background-size: 1990px; */
    background-size: cover;
}
.icon-sidebar { /*Chua co*/
    background-color: darkblue;
    display: block;
    align-items: center;
    justify-items: center;
}
.icon-sidebar div {
   width: 95%;
   height: 10%;
   background-color: white;
   margin: 3px;
}
.icon-tongquan {
    background-image: url(/assets/Icons/ic_TongQuan.svg);
    background-repeat: no-repeat;
    font-size: 13px;
    background-color: darkblue;
    background-position: center;
    background-size: cover;
}
.icon-thietbi {
    background-image: url(/assets/Icons/ic_ThietBi.svg);
    background-repeat: no-repeat;
    background-color: darkblue;
    background-position: center;
    background-size: cover;
}
.icon-muontra {
    background-image: url(/assets/Icons/ic_MuonTra.svg);
    background-repeat: no-repeat;
    background-color: darkblue;
    background-position: center;
    background-size: cover;
}
.icon-baocao {
    background-image: url(/assets/Icons/ic_BaoCao.svg);
    background-repeat: no-repeat;
    background-color: darkblue;
    background-position: center;
    background-size: cover;
}
.icon-hethong {
    background-image: url(/assets/Icons/ic_HeThong.svg);
    background-repeat: no-repeat;
    background-color: darkblue;
    background-position: center;
    background-size: cover;
}

