.m-input {
    outline: none;
    height: 32px;
    font-size: 13px;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #CCCCCC;
    margin-right: 16px;
    margin-bottom: 12px;
    background-color: #FFFFFF;
}
.m-input:disabled {
    background-color: #F5F5F5;;
}
.m-input:focus { /*Tu them vao*/
    border-color: #0DD469;
}

.m-input-error-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: fit-content;
    margin-bottom: 12px;
}
.m-input-error {
    border-color: #FA3939;
    margin-right: 8px;
    margin-bottom: 0px;
}
.m-error-message {
    background-color: #FA3939;
    color: #FFFFFF;
    opacity: 75%;
    padding: 5px 8px;
    width: fit-content;
    border-radius: 4px;
    position: relative;
}
.m-error-message .m-error-arrow {
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: inherit;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 0;
}
.m-error-text {
    position: relative;
    z-index: 1;
    background-color: inherit;
}

.m-input-search {
    width: fit-content;
    display: flex;
    align-items: center;
    padding-right: 0px;
    /* border-color: #0DD469; */
}
.m-input-search:focus { /*Chua nhan*/
    border-color: #0DD469;
}
.m-input-search input {
    height: inherit;
    width: 300px;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.m-input-search .icon-search {
    width: 40px;
    height: 32px;
    background-position: center;
    border: none;   
    /* border-left: 1px solid #CCCCCC; */
    background-color: inherit;
    cursor: pointer;
}
.m-input-search .icon-search:hover {
    background-color: #E9E9E9;
}
.m-input-search .hor-line {
    width: 1px;
    height: 20px;
    background-color: #CCCCCC;
}