.toasts-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 40px;
    right: 80px;
    z-index: 3;
}

.m-toast {
    min-width: 300px;
    width: fit-content;
    min-height: 80px;
    /* padding: 18px; */
    animation-duration: 3s;/**/
    border-radius: 4px;
    border-left: 8px solid;
    box-shadow: 0px 0px 10px #D5D5D5;
    display: grid;
    grid-template-columns: 76px calc(100%-76px);
    grid-template-rows: 34px calc(100%-32px);
    margin: 0px 18px 18px 0px;
}
.m-toast .toast-icon {
    grid-row-start: 1;
    grid-row-end: 3;
    background-size:auto;
    background-position: center;
}
.m-toast .toast-title {
    font-size: 16px;
    font-weight: 600;
    padding-top: 18px;
    padding-right: 18px;
}
.m-toast .toast-content {
    font-size: 13px;
    display: flex;
    align-items: center;
    padding-bottom: 18px;
    padding-right: 18px;
}

.toast-message-fail {
    border-color: red;
}
.toast-message-success {
    border-color: green;
}
.toast-message-info {
    border-color: blue;
}
.toast-message-warning {
    border-color: yellow;
}