.m-popup-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #0000006a;
    z-index: 2;
    display: none;
    overflow: auto;
}

.isShowPopup {
    display: block !important;
}