table {
    border-collapse: collapse;
    position: absolute;
    width: 100%;
}

th, td {
    border: 1px solid #D5D8E6;
    white-space: nowrap;
    vertical-align: middle;
    box-sizing: border-box;
    /* height: 40px; */
}

th:nth-child(1), td:nth-child(1) {
    border-left: none;
    min-width: 40px;
    width: 40px;
}
th:nth-child(1) div, td:nth-child(1) div {
    margin: 0px auto;
}
th:nth-last-child(1), td:nth-last-child(1) {
    border-right: none;
    width: 80px;
}
td:nth-last-child(1) div, td:nth-last-child(2) div, td:nth-last-child(3) div {
    margin: 0px auto;
}
td:nth-last-child(2), td:nth-last-child(3) {
    min-width: 100px;
}
td:nth-last-child(2) div, td:nth-last-child(3) div {
    margin: 0px auto;
}


th {
    background-color: #F5F6FA;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-top: none;
    font-weight: normal;
}

tr {
    height: 40px;
}

tbody {
    background-color: #FFFFFF;
}

tbody tr:hover, tbodytr:focus {
    background-color: #E5F3FF; /*forcus: CCE8FF*/
}

tbody tr td:nth-child(2), tbody tr td:nth-child(5) {
    width: 110px;
}
tbody tr td:nth-child(3) {
    color: #03AE66;;
    min-width: 200px;
    cursor: pointer;
}
tbody tr td:nth-child(4) {
    min-width: 90px;
}
tbody tr td:nth-child(6) {
    min-width: 94px;
}
tbody tr td:nth-child(7) {
    max-width: 190px;
}

tbody tr td.m-a-left {
    text-align: left;
    padding: 0px 12px;
}
tbody tr td.m-a-center {
    text-align: center;
}
tbody tr td.m-a-right {
    text-align: right;
    padding: 0px 12px;
}

.table-content::-webkit-scrollbar-track {
    margin-top: 40px;
}