@import url(components/button.css);
@import url(components/checkbox.css);
@import url(components/icon.css);
@import url(components/dropdowns.css);
@import url(components/tag.css);
@import url(components/inputs.css);
@import url(components/toasts.css);

@import url(layouts/layout.css);
@import url(layouts/header.css);
@import url(layouts/sidebar.css);
@import url(layouts/content.css);

@font-face {
    font-family: OpenSans;
    src: url(../assets/Fonts/OpenSans-Regular.ttf);
}

* {
    font-family: OpenSans;
}
body {
    margin: 0px;
}
