@import url(components/button.css);
@import url(components/checkbox.css);

@font-face {
    font-family: OpenSans;
    src: url(../assets/Fonts/OpenSans-Regular.ttf);
}

* {
    font-family: OpenSans;
}
