@import url(components/button.css);
@import url(components/checkbox.css);
@import url(components/icon.css);
@import url(components/dropdown.css);
@import url(components/tag.css);
@import url(components/input.css);
@import url(components/toast.css);
@import url(components/loader.css);

@import url(layouts/layout.css);
@import url(layouts/header.css);
@import url(layouts/sidebar.css);
@import url(layouts/content.css);
@import url(layouts/popup.css);
@import url(layouts/table.css);
@import url(layouts/dialog.css);
@import url(layouts/nodata.css);

@font-face {
    font-family: OpenSans;
    src: url(../assets/Fonts/OpenSans-Regular.woff2);
}
@font-face {
    font-family: OpenSansSemiBold;
    src: url(../assets/Fonts/OpenSans-SemiBold.woff2);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../assets//Fonts/OpenSans-Bold.woff2);
}

* {
    font-family: OpenSans;
    font-size: 13px;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}
*::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
    border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #8F8F8F;
}

body {
    margin: 0px;
    background-color: #EAECEF;
}